<div class="hero ">
    <div class="nvabar">
        <img src="assets/homePage/logoo.png" alt="" class="logo">
        <button>SignUp</button>
    </div>
    <div class="content">
        <small>Welcome to our</small>
        <h1>Worls created studio</h1>
        <button routerLink="/home">Take a Tour</button>
    </div>
    <div class="sidebar">
        <img src="assets/homePage/menu.png" alt="" class="menu">
        <div class="social">
            <img src="assets/homePage/fb.png" alt="">
            <img src="assets/homePage/ig.png" alt="">
            <img src="assets/homePage/tw.png" alt="">
        </div>
        <div class="usefull">
            <img src="assets/homePage/share.png" alt="">
            <img src="assets/homePage/info.png" alt="">
           
        </div>
    </div>
    <div class="bubble">
        <img src="assets/homePage/bubble.png" alt="">
        <img src="assets/homePage/bubble.png" alt="">
        <img src="assets/homePage/bubble.png" alt="">
        <img src="assets/homePage/bubble.png" alt="">
        <img src="assets/homePage/bubble.png" alt="">
        <img src="assets/homePage/bubble.png" alt="">
        <img src="assets/homePage/bubble.png" alt="">
    </div>
</div>
